<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ResourceProvider" type="idee5.Globalization.Configuration.ResourceProviderSection,idee5.Globalization" requirePermission="false" />
  </configSections>
  <ResourceProvider customerId="idee5" industryId="IT" bingClientId="idee5-Translations" bingClientSecret="m8vxKD531QlsEW59Aceu3sY+p15wKTPo8kdQbjH6arc=" />
  <connectionStrings>
    <add name="idee5ResourcesConnection" connectionString="data source=|DataDirectory|idee5.Resources.db3" providerName="System.Data.SQLite" />
  </connectionStrings>
  <appSettings>
    <add key="implementedCultures" value="de-DE, en-US" />
  </appSettings>
</configuration>
